.caixa {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.destaques {
    display: grid;
    gap: .2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: calc(100vh - 50px);
}

.destaques__titulo {
    background: #00000050;
    color: #fdfdfd;
    padding: .6rem;
    text-align: center;
    width: 100%;
}

.destaques__principal {
    background: url(../img/fortnite.jpg) center / cover no-repeat;
}

.destaques__secundario:nth-child(2) {
    background: url(../img/pubg.jpg) center / cover no-repeat;
}

.destaques__secundario:nth-child(3) {
    background: url(../img/slack.png) center / cover no-repeat;
}

.destaques__secundario:nth-child(4) {
    background: url(../img/whatsapp.png) center / cover no-repeat;
}

.destaques__secundario:nth-child(5) {
    background: url(../img/cs-go.jpg) center / cover no-repeat;
}

.destaques__categorias___lista {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.destaques__categorias___item {
    display: flex;
    align-items: center;
    background: #fdfdfd;
    border: 1px solid #cccccc;
    color: #333333;
    padding: 1rem;
    width: 50%;
}

.destaques__categorias___link {
    color: inherit;
}

